---
import HeaderLink from './HeaderLink.astro';
import { Menu, Heart } from 'lucide-astro';
---

<header class="bg-linen-white fixed top-0 left-0 right-0 z-50 shadow-md">
	<nav class="flex justify-between items-center p-4 max-w-6xl mx-auto">
		<button id="menu-btn" class="text-slate-gray">
			<Menu size={24} />
		</button>
        <div class="flex items-baseline gap-x-4">
            <h1 class="text-2xl font-sans font-semibold text-slate-gray">Albania 2025</h1>
        </div>
		<div class="hidden md:flex space-x-4">
			<HeaderLink href="#itinerary">Itinerario</HeaderLink>
			<HeaderLink href="#destinations">Destinos</HeaderLink>
			<HeaderLink href="#activities">Actividades</HeaderLink>
			<HeaderLink href="#info">Información de interés</HeaderLink>
			<HeaderLink href="#weather">El tiempo</HeaderLink>
		</div>
	</nav>
</header>

<aside id="menu-sidebar" class="bg-slate-gray/95 fixed top-0 left-0 h-full w-64 -translate-x-full transition-transform duration-300 z-20">
	<div class="p-4 pt-20">
		<h2 class="text-linen-white font-sans text-xl mb-4">Viajes</h2>
		<ul>
			<li><a href="/travel-with-love/" class="text-linen-white hover:text-terracotta">Albania 2025</a></li>
		</ul>
	</div>
</aside>

<script>
	document.getElementById('menu-btn')?.addEventListener('click', () => {
		document.getElementById('menu-sidebar')?.classList.toggle('-translate-x-full');
	});

	document.querySelectorAll('a[href^="#"]').forEach(anchor => {
		anchor.addEventListener('click', function (e) {
			e.preventDefault();

			const targetId = anchor.getAttribute('href');
			if (targetId) {
				const targetElement = document.querySelector(targetId);

				if (targetElement) {
					targetElement.scrollIntoView({
						behavior: 'smooth'
					});
				}
			}
		});
	});
</script>