---
---
<section id="opinion" class="py-20 px-4 bg-white">
    <h2 class="text-4xl font-sans font-semibold text-center text-slate-gray mb-12">
      Opinión Personal
    </h2>
    <div class="max-w-4xl mx-auto text-center text-slate-gray">
      <p>Esta opinión personal me cuesta bastante y aunque podría tener un debate interminable, voy a intentar resumir. Me alegro de haber ido a Albania pero no volvería. Es un país con potencial pero el turismo lo está destrozando (lo estamos destrozando). Su infraestructura no está preparada, las carreteras no dan a basto, las playas no dan más de sí y la crispación de su gente se huele en el ambiente. Playas masificadas, sucias y colonizadas por hoteles que ponen sus hamacas y sombrillas por 20 pavos que nosotros como Europeos con recursos podemos pagar pero que el albanés que iba a esa playa desde siempre, con sueldo de albanés, no puede ni oler. Una economía sumergida que te hace pagar hasta el hotel más pijo con efectivo para que el dueño millonario se lucre mientras el de abajo se ahoga. Miles de mercedes con cuatro tubos de escape pasando al lado de la madre y la hija tumbadas en la calle que te piden 20 lekes (20 centímos de euro). 5 euros por una botella de agua en un hotel pijo donde has pedido una pizza de 10 euros porque, si pueden, te la cuelan, y no te la cuela el albanés que tiene un negocio con 2 mesas de billar y que gana 1 euro por partida, no. Te la cuela el del hotel pijo, el de la hamaca en la playa y el que tiene un salon con 20 billares. En resumen, qué daño hace Instagram y qué daño hacemos los que nos creemos que viajamos de manera "distinta".</p>
    </div>
</section>