---
---
<section id="restaurants" class="py-20 px-4 bg-white">
    <h2 class="text-4xl font-sans font-semibold text-center text-slate-gray mb-12">
      Dónde Comer y Beber
    </h2>
    <div class="max-w-4xl mx-auto" id="restaurants-accordion">
  
      <!-- Desplegable para Tirana -->
      <div class="border-t border-terracotta/30">
        <button class="accordion-header flex justify-between items-center w-full py-5 text-left">
          <span class="text-2xl font-semibold text-slate-gray">Tirana</span>
          <svg class="w-6 h-6 transition-transform duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
        </button>
        <div class="accordion-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
          <div class="p-5 pt-0">
            <div class="space-y-4">
              <div class="flex justify-between items-center py-3 border-b border-slate-200">
                <div>
                    <h4 class="text-xl font-semibold text-terracotta">Hemingway Bar</h4>
                    <p class="text-slate-gray">Bar con ambiente bohemio, música jazz en directo y una gran selección de rones.</p>
                </div>
                <a href="https://www.google.com/maps/search/?api=1&query=Hemingway+Bar+Tirana" target="_blank" rel="noopener noreferrer" class="text-terracotta font-semibold hover:underline whitespace-nowrap ml-4">
                  Ver en Mapa &rarr;
                </a>
              </div>
              <div class="flex justify-between items-center py-3 border-b border-slate-200">
                  <div>
                    <h4 class="text-xl font-semibold text-terracotta">Destil Creative Hub</h4>
                    <p class="text-slate-gray">Espacio creativo con bar, galería de arte y un ambiente alternativo.</p>
                </div>
                <a href="https://www.google.com/maps/search/?api=1&query=Destil+Creative+Hub+Tirana" target="_blank" rel="noopener noreferrer" class="text-terracotta font-semibold hover:underline whitespace-nowrap ml-4">
                  Ver en Mapa &rarr;
                </a>
              </div>
              <div class="flex justify-between items-center py-3 border-b border-slate-200">
                <div>
                    <h4 class="text-xl font-semibold text-terracotta">Radio Bar</h4>
                    <p class="text-slate-gray">Un bar de estilo retro con una decoración única llena de radios antiguas y objetos vintage. Ofrece cócteles excelentes y un ambiente muy animado.</p>
                </div>
                <a href="https://www.google.com/maps/place/Radio+Bar/@41.3224933,19.8209714,17z/data=!3m1!4b1!4m6!3m5!1s0x13503108658a1371:0x123f43421618f364!8m2!3d41.3224893!4d19.8235463!16s%2Fg%2F1td_0l7w?entry=ttu" target="_blank" rel="noopener noreferrer" class="text-terracotta font-semibold hover:underline whitespace-nowrap ml-4">
                  Ver en Mapa &rarr;
                </a>
              </div>
              <div class="flex justify-between items-center py-3 border-b border-slate-200">
                <div>
                    <h4 class="text-xl font-semibold text-terracotta">Nouvelle Vague Tirana</h4>
                    <p class="text-slate-gray">Un local acogedor y vibrante, conocido por su ambiente inclusivo y gay friendly. Ideal para disfrutar de buena música y cócteles.</p>
                </div>
                <a href="https://www.google.com/maps/search/?api=1&query=Nouvelle+Vague+Tirana" target="_blank" rel="noopener noreferrer" class="text-terracotta font-semibold hover:underline whitespace-nowrap ml-4">
                  Ver en Mapa &rarr;
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
          <!-- Desplegable para Theth -->
      <div class="border-y border-terracotta/30">
        <button class="accordion-header flex justify-between items-center w-full py-5 text-left">
          <span class="text-2xl font-semibold text-slate-gray">Theth</span>
          <svg class="w-6 h-6 transition-transform duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
        </button>
        <div class="accordion-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
          <div class="p-5 pt-0">
            <p class="text-slate-gray">Próximamente...</p>
          </div>
        </div>
      </div>
      <!-- Desplegable para Berat -->
      <div class="border-y border-terracotta/30">
        <button class="accordion-header flex justify-between items-center w-full py-5 text-left">
          <span class="text-2xl font-semibold text-slate-gray">Berat</span>
          <svg class="w-6 h-6 transition-transform duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
        </button>
        <div class="accordion-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
          <div class="p-5 pt-0">
            <div class="space-y-4">
              <div class="flex justify-between items-center py-3 border-b border-slate-200">
                <div>
                    <h4 class="text-xl font-semibold text-terracotta">Casa Eni</h4>
                    <p class="text-slate-gray">Restaurante familiar en el barrio de Gorica, conocido por su ambiente acogedor y su deliciosa comida tradicional albanesa.</p>
                </div>
                <a href="https://www.google.com/maps/search/Eni+Traditional+Food+Berat" target="_blank" rel="noopener noreferrer" class="text-terracotta font-semibold hover:underline whitespace-nowrap">
                  Ver en Mapa &rarr;
                </a>
              </div>
              <div class="flex justify-between items-center py-3 border-b border-slate-200">
                <div>
                    <h4 class="text-xl font-semibold text-terracotta">Temi</h4>
                    <p class="text-slate-gray">Ubicado dentro del Castillo de Berat, este restaurante ofrece comida casera auténtica en un ambiente íntimo con vistas espectaculares.</p>
                </div>
                <a href="https://www.google.com/maps/search/?api=1&query=Temi+Albanian+Food+Berat" target="_blank" rel="noopener noreferrer" class="text-terracotta font-semibold hover:underline whitespace-nowrap">
                  Ver en Mapa &rarr;
                </a>
              </div>
              <div class="flex justify-between items-center py-3">
                <div>
                    <h4 class="text-xl font-semibold text-terracotta">Lili</h4>
                    <p class="text-slate-gray">Una experiencia única en el patio de una casa familiar. Comida casera excepcional y un anfitrión increíblemente carismático. Imprescindible reservar.</p>
                </div>
                <a href="https://www.google.com/maps/place/Lili's+Home-Made+Food/@40.7062987,19.951249,17z/data=!3m1!4b1!4m6!3m5!1s0x135a9977041509d7:0x656a43354a65a34!8m2!3d40.7062987!4d19.951249!16s%2Fg%2F11c66j1z1l?entry=ttu" target="_blank" rel="noopener noreferrer" class="text-terracotta font-semibold hover:underline whitespace-nowrap">
                  Ver en Mapa &rarr;
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Desplegable para Riviera Albanesa -->
      <div class="border-y border-terracotta/30">
        <button class="accordion-header flex justify-between items-center w-full py-5 text-left">
          <span class="text-2xl font-semibold text-slate-gray">Riviera Albanesa</span>
          <svg class="w-6 h-6 transition-transform duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
        </button>
        <div class="accordion-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
          <div class="p-5 pt-0">
            <p class="text-slate-gray">Próximamente...</p>
          </div>
        </div>
      </div>
      <!-- Desplegable para Gjirocaster -->
      <div class="border-y border-terracotta/30">
        <button class="accordion-header flex justify-between items-center w-full py-5 text-left">
          <span class="text-2xl font-semibold text-slate-gray">Gjirocaster</span>
          <svg class="w-6 h-6 transition-transform duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
        </button>
        <div class="accordion-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
          <div class="p-5 pt-0">
            <p class="text-slate-gray">Próximamente...</p>
          </div>
        </div>
      </div>
  
    </div>
</section>